/* _content/MtgCardKeeper.RclViews/CardSearch.razor.rz.scp.css */
.my-component[b-bn4h0e4pu5] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
/* _content/MtgCardKeeper.RclViews/CardSearchControls.razor.rz.scp.css */
.my-component[b-74nxdrq1iz] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
/* _content/MtgCardKeeper.RclViews/CardSummaryList.razor.rz.scp.css */
.my-component[b-5bricykigc] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
/* _content/MtgCardKeeper.RclViews/MessageTemplate.razor.rz.scp.css */
.my-component[b-o32fafri4z] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
/* _content/MtgCardKeeper.RclViews/TestPartial.razor.rz.scp.css */
.my-component[b-swajz5asg9] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
